<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Volunteer Management System</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Volunteer Management System</a></h1>
        </div>
    </div>
    <!--    *********** menu *********** -->
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="volunteers" class="btn btn-outline-primary btn-lg">Volunteer</a>
        </div>
        <div class="col text-center m-3">
            <a href="nonprofits" class="btn btn-outline-primary btn-lg">Nonprofit</a>
        </div>
        <div class="col text-center m-3">
            <a href="assignments" class="btn btn-outline-primary btn-lg">Assignment</a>
        </div>

        <div class="col text-center m-3">
            <a href="skills" class="btn btn-outline-primary btn-lg">Skill</a>
        </div>
        <div class="col text-center m-3">
            <a href="timesheets" class="btn btn-outline-primary btn-lg">Timesheet</a>
        </div>
    </div>

    <!--   th:if to check if we have any errors to display. We only display this div if there are errors. -->
    <!--    Inside the div, we loop through the errors with th:each and display the message of each one with th:text.-->
    <!--    We assign the class ‘alert alert-danger' to each message so it will display as a red alert box to make it clear there were errors.-->
    <div class="col-12 m-1 text-center"
         th:if="${!errors.isEmpty()}">
        <p class="alert alert-danger" th:each="error : ${errors}"
           th:text="${error.message}">Error message</p>
    </div>

    <!--   *********** Form *********** -->
    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Add Timesheet</span>
        </div>
        <div class="col-7 text-center m-3">
            <!--      action is the add method name in controller-->
            <form action="addTimesheet" method="POST">

                <!--                  hours logged  -->
                <div class="form-group row">
                    <label for="hoursLogged" class="col-3 col-form-label">
                        Hours Logged:</label>
                    <div class="col-9">
                        <input type="text" name="hoursLogged" placeholder=" Full or half hour increments ex: 4 or 2.5"
                               id="hoursLogged" class="form-control"/>
                    </div>
                </div>

                <!--                  date  -->
                <div class="form-group row">
                    <label for="date" class="col-3 col-form-label">
                        Date:</label>
                    <div class="col-9">
                        <input type="date" name="date"
                               id="date" class="form-control"/>
                    </div>
                </div>

                <!--                  volunteer  -->
                <div class="form-group row">
                    <label for="volunteer" class="col-3 col-form-label">
                        Volunteer:</label>
                    <div class="col-9">
 <!--                        volunteerId is coming from addVolunteer param in controller-->
                        <select id="volunteer" name="volunteerId" class="form-control" >
                            <option disabled selected value="">-- Select Volunteer </option>
                            <option th:each="volunteer : ${volunteers}"
                                    th:value="${volunteer.id}"
                                    th:text="${volunteer.firstName + ' '
                                    + volunteer.lastName}">
                            </option>
                        </select>
                    </div>
                </div>

                <!--                  assignment  -->
                <div class="form-group row">
                    <label for="assignment" class="col-3 col-form-label">
                        Assignment:</label>
                    <div class="col-9">
<!--                        assignmentId is coming from addVolunteer param in controller-->
                        <select id="assignment" name="assignmentId" class="form-control" >
                            <option disabled selected value="">-- Select Assignment </option>
                            <option th:each="assignment : ${assignments}"
                                    th:value="${assignment.id}"
                                    th:text="${assignment.title}">
                            </option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add Timesheet</button>
            </form>
        </div>
    </div>

    <!--    *********** Table *********** -->
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                <tr>
<!--                    <th>Timesheet ID</th>-->
                    <th>Hours Logged</th>
                    <th>Date</th>
                    <th>Volunteer</th>
                    <th>Assignment</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="timesheet : ${timesheets}">
<!--                    <td th:text="${timesheet.id}">Timesheet ID</td>-->
                    <td th:text="${timesheet.hoursLogged}">Hours Logged</td>
                    <td th:text="${#temporals.format(timesheet.date, 'MM-dd-yyyy')}">Date</td>
                    <td th:text="${timesheet.volunteer != null ? timesheet.volunteer.firstName + ' ' + timesheet.volunteer.lastName : 'N/A'}">Volunteer</td>
                    <td th:text="${timesheet.assignment != null ? timesheet.assignment.title : 'N/A'}">Assignment</td>
                    <td><a href="#" th:href="@{/editTimesheet(id=${timesheet.id})}">Edit</a></td>
                    <td><a href="#" th:href="@{/deleteTimesheet(id=${timesheet.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>